* {
  margin: 0;
  padding: 0;
}
/* Hide specific containers when printing */
@media print {
  .containerNotToPrint {
    display: none;
  }
}
.print-Container-btn{
  display: flex;
  justify-content: space-around;
}
.btn-cancel{
  background: red;
  color: #e4e4e4;
}
.btn-print{
  background:#113172;
  color: #e4e4e4;
}
span {
  color: #113172;
}
a{
  text-decoration: none;
}
h5{
  text-align: center;
}
label{
  word-wrap: break-word;
}
.add-padding{
padding-top: 40px;
}
.all-caps{
  text-transform: capitalize;
}
.row {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  padding: 0;
  z-index: 1;
  width: 100%;
}
.container-fluid {
  background-color:#113172;
  width: 100%;
}
.nav-link {
  font-size: 20px;
  color: aliceblue;
}
.navbar-brand {
  font-size: 30px;
  color: aliceblue;
}
.clickable-input{
  background-color: #e4e4e4;
  cursor: pointer;
}
/* hero section */
.hero {
  width: 100%;
  height: 50vh;
  /* background-color: rgb(207, 206, 206); */
}
.hero-container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 10% 0px;
}
.hero-title {
  text-transform: capitalize;
  font-size: 5rem;
}
.hero-description {
  text-transform: capitalize;
  font-size: 2rem;
}
/* service */
.service {
  padding-top: 50px;
}
.heading {
  text-align: center;
  padding: 20px;
}
.service-title {
  text-align: center;
  font-weight: 700;
}
.service-logo {
  text-align: center;
}
.service .row .col-md-4 .card {
  background-color: rgba(242, 240, 243, 0.326);
  border-radius: 20px;
}
.service .row .col-md-4 .card:hover {
  background-color: rgb(208, 207, 209);
}
/* about */
.about {
  padding-top: 50px;
}
.about-image {
  width: 100%;
}
/* contactus */
.contact {
  width: 100%;
  background: rgb(234, 234, 234);
  padding: 20px;

}
.form {
  margin: 0px 40px;
  border-radius: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}
.contact-input {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* footer */
.footer {
  background-color: rgb(118, 118, 118);
  color: aliceblue;
  width: 100%;
}
.footer-container {
  padding: 20px 20px;
}
.footer-title {
  text-align: center;
}
.footer-description {
  text-align: center;
}
/* hospital display */
.hospitals{
  margin-bottom: 20px;
}
.preview-hospital{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-hospital{
  text-transform: capitalize;
  text-align: center;
}
.description-hospital{
  text-transform: capitalize;
  text-align: left;
}
.image-hospital{
  border-radius: 5px;
  width: 100%;
}

/* search icon */
.nav-search input{
  border-radius: 50px;
  height: 100%;
  border: none;
  padding-left: 20px;
}
.hidden-input-bar{
  background-color: #113172;
  border: none;
}
.search-container{
  padding-top: 50px;
}
.search-header{
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 0px;
  background-color: white;
}
.search-inputs{
  width: 100%;
  padding:5px;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
  background-color: #e4e4e4;
}
.search-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.search-button button{
  padding:5px 50px;
  border-radius: 10px;
  background-color: #113172;
  color: white;
}
.search-body{
  margin-top: 120px;
}
.searched-image{
  width: 100%;
  border-radius: 10px;
}
.admin-login{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-login{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-login button{
  background: #113172;
  color: #e4e4e4  ;
}
/* bot   found */
.not-found{
 background-color: rgb(160, 158, 157);
 text-align: center;
}
/* register */
.register{
  display: flex;
  justify-content: center;
}

/* admin */
.admin-dashboard{
padding-top: 50px;
}
.mobile_hide{
  display: block;
}
.displaycard{
  padding-top: 70px;
}